<div id="profile-list" class="list sidebar-content <%= 'active' if profile? %>">
  <ul>
    <% @profiles.each do |profile| %>
      <% name, path = profile.values_at(:name, :path) %>
      <li class="sidebar-link <%= 'active' if profile_active?(name) %>">
        <a href=<%= path %> class="<%= 'active' if profile_active?(name) %>"><%= name%></a>
      </li>
    <% end %>
</div>
