<div id="serializer-list" class="list sidebar-content <%= 'active' if resource? || index? %>">
  <ul>
    <% @resources.each do |name:, path:| %>
      <li class="sidebar-link <%= 'active' if resource_active?(name) %>">
        <a href=<%= path %> class="<%= 'active' if resource_active?(name) %>"><%= name%></a>
      </li>
    <% end %>
</div>
