<h4 class=description-list>
    <strong> <%= object.name %></strong>
    <% value_types.each do |value_type| %>
      <% type, class_name = value_type.values_at(:type, :class_name) %>
        <span class="property-source <%= class_name %>"><%= type %></span>
    <% end %>
</h4>
<p><%= object.documentation %></p>
<% unless @nested_attributes.empty? %>
    <div class="nested-attributes">
        <h5>Nested attributes</h5>
        <ul>
        <% @nested_attributes.each do |key, attr| %>
            <li>
                <h6>
                    <strong> <%= key %></strong>
                    <span class="property-source profile"><%= attr.type %></span>
                </h6>
                <p><%= attr.doc %></p>
            </li>
        <% end %>
        </ul>
    </div>
<% end %>
